:root{
  --cor-primaria: #e21;
  --cor-primaria-escura: #900;
  --fundo-1: #f7f7f7;
  --fundo-2: #fff;
  --texto: #000;
  --cor-subtitulo: rgba(0,0,0,.2);
  --onda: url("../img/onda-clara.svg");
  --color-link: #000;
}

@media (prefers-color-scheme: dark){
  :root{
    --fundo-1: #111;
    --fundo-2: #000;
    --texto: #fff;
    --cor-subtitulo: rgba(255,255,255,.2);
    --onda: url("../img/onda-escura.svg");
    --color-link: #fff;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0rem;
  background: var(--fundo-1);
  color: var(--texto);
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  margin-top: 3.75rem;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0rem;
  font-weight: bold;
}
h1{
  font-size: 2rem;
}
h2{
  line-height: 1.2;
}
p{
  margin: 0rem;
  font-size: 1.25rem;
  line-height: 1.3;
}
header{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 3.5rem;
}
.menu {
  margin: 1.5rem 0rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.menu a {
  background: var(--fundo-2);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  color: var(--texto);
  text-transform: uppercase;
  border: 0.13rem solid var(--fundo-2);
}
.menu a:hover{
  border-color: var(--cor-primaria);
}
.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 62rem;
  position: relative;
}
.introducao {
  background: var(--fundo-2);
  padding: 2.5rem;
  text-align: right;
  display: grid;
  gap: 1.25rem;
  align-content: center;
  justify-items: end;
}
.detalhe::before{
  content: "";
  position: absolute;
  width: 3.75rem;
  height: 0.25rem;
  background: var(--cor-primaria); 
  top: 1.87rem;
  left: calc(50% - 1.875rem);
}
.introducao-cover img{
  object-fit: cover;
  height: 100%;
}
.botao {
  background: var(--cor-primaria);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
}
.botao:hover{
  background: var(--cor-primaria-escura);
}
.subtitulo {
  font-size:  4rem;
  text-transform: uppercase;
  color: var(--cor-subtitulo);
  text-align: right;
  padding: 2.5rem;
  align-self: center;
  background-image: var(--onda);
  /*word-break: break-all;*/
}

.vantagens {
  background: var(--fundo-2);
  padding: 2.5rem;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.625rem 1.25rem;
  padding: 1.25rem;
  position: relative;
  border-left: 0.25rem solid transparent;
}
.vantagens-item:nth-child(odd){
  background: var(--fundo-1);
}
.vantagens-item p {
  grid-column: 2;
}
.vantagens-item:hover{
  border-color: var(--cor-primaria);
}
.rodape {
  background: var(--fundo-2);
  width: 100%;
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}
.rodape a {
  color: var(--color-link);
  text-decoration: underline;
}
.rodape a:hover{
  color: #e21;
}
@media (max-width: 1000px){
  body {
    margin-top: 2rem;
  }
  .conteudo {
    grid-template-columns:1fr;
  }
  .detalhe::before{ 
    top: 1.2rem;
  }
  .menu {
    margin: 0rem;
  }
  .menu a {
    padding: 1rem 1rem;
    display: flex;
  }
  .introducao {
    text-align: left;
    justify-items: start;
  }
  .introducao::before{
    top: 1.60rem;
    right: 42%;
  }
  .subtitulo{
    text-align: center;
    padding: 2.5rem 0rem;
    font-size: 3rem;
  }
}
@media (max-width: 501px){
  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .menu a {
    display: grid;
    place-items: center;
  }
}